<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bookmark.name %>
</p>

<p>
  <strong>Url:</strong>
  <a href="<%= @bookmark.url %>"><%= @bookmark.url %></a>
</p>

<p>
  <strong>Domain:</strong>
  <%= @bookmark.domain %>
</p>

<%= link_to 'Edit', edit_bookmark_path(@bookmark) %> |
<%= link_to 'Back', bookmarks_path %>
